<html>
    <body>
    <!-- Check for errors -->
    {% if errors %}
        Errors:
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    
    <!-- Input -->
    Region and radius in km (optional):
    <form action="" method="get">
        <input type="text" name="q">
        
        <input type="number" name="r">
        <input type="submit" value="Search">
    </form>
    
    
    
    
    {% load easy_maps_tags %}
    {% easy_map first_map 1000 1000 %}
    
    
    
    <!-- Show tweets -->
    {% if user_search and not errors %}
        <p>You searched for "{{ first_map }}".</p>
        {% if tweets %}
            <p> {{ tweets|length }} tweet{{ tweets|pluralize}} were found!</p>
            
            {% for tweet in tweets %}
                <p>{{ forloop.counter }}: {{ tweet.user }}</p>
                <p>{{tweet.geo }}</p>
                
                <p>{{ tweet.text }}</p>
            {% endfor %}
        {% else %}
            <p>No tweets where found.</p>
        {% endif %}
    {% endif %}
    
    </body>
</html>
