<html>
    <body>
    <!-- Check for errors -->
    {% if errors %}
        Errors:
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    
    <!-- Input -->
    Region and radius in km (optional):
    <form action="" method="get">
        <input type="text" name="q">
        
        <input type="number" name="r">
        <input type="submit" value="Search">
    </form>
    
    
    <div>
    <div style="width:800px">
        <div style="float:left">
            {% load easy_maps_tags %}
            {% easy_map first_map 500 500 %}
        </div> 
       
        <div>
            {% if user_search and not errors %}
            <h1>Results</h1>
            <p>You searched for "{{ first_map }}".</p>
            <!--Statistics -->
            {% if tweets %}
            <p> {{ tweets|length }} tweet{{tweets|pluralize }} were found!</p>

            <h2>Statistics</h2>
            <p>Positives: {{ moods.positives }} </p>
            <p>Negatives: {{ moods.negatives }} </p>
            <p>Neutrals: {{ moods.neutrals }} </p>
            <p>No information: {{ moods.NoMood }}</p>
            <p>Mean: {{ moods.mean }} </p>
            <p>Standard deviation: {{ moods.sd }} </p>
            <h3>Frequent words:</h3>
            {% for topic in topics %}
                <h4>{{ topic.word }}:</h4>
                <p>Frequency: {{ topic.freq }}</p>
                <p>Mood: {{ topic.mood }}</p>
            {% endfor %}
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            
        </div> 
       
       </div> 
        
        <div style="float:left">
        <!-- Show tweets -->
        
        <h2>Tweets</h2>
            
            {% for tweet in tweets %}
                <div style="color:{{tweet.moodColor}}">
                <h4>{{ forloop.counter }}: {{ tweet.user }}</h4>
                <p>Mood: {{ tweet.mood }} </p>
                <img src="{{tweet.image}}"/>
                <p>{{ tweet.datetime }}</p>
                <p>{{ tweet.text }}</p>
                </br>
                </div>
            {% endfor %}
        {% else %}
            <p>No tweets where found.</p>
        {% endif %}
    {% endif %}
    </div>
    </div>
    </body>
</html>
